<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout/listLayout">
<head></head>
<body>
    <section layout:fragment="list">
        <!-- page content body-->
        <ul>
            <li th:each="todoEntity : ${todoList}">
                <div class="todoTitle" th:text="${todoEntity.title}"></div>
                <div class="todoContext"th:text="${todoEntity.context}"></div>
            </li>
        </ul>
    </section>
</body>
</html>